.footer {
  background: #1b1b1b;
  .footer_flex {
    padding: 0 60px 0 60px;
    margin: 0 auto;
    height: 276px;
    background: #1b1b1b;
    margin-top: 57px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1280px) {
      padding: 0 20px;
    }
    @media (max-width: 767px) {
      display: none;
    }
    .footer_nav {
      flex-shrink: 1;
      h4 {
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #ffffff;
      }
      ul {
        li {
          a {
            font-family: 'Exo 2';
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 24px;
            text-decoration: none;
            color: #ffffff;
          }
          a:hover {
            color: #ff0000;
          }
        }
      }
    }
    .footer_phone {
      margin-top: 30px;
      font-family: 'Exo 2';
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 40px;
      margin-left: 60px;
      color: #ffffff;
      position: relative;
      @media (max-width: 1080px) {
        margin-left: 0px;
        font-size: 24px;
      }
    }
    .footer_phone::after {
      position: absolute;
      content: '';
      width: 50px;
      height: 50px;
      background-image: url(../img/footer/telegram.png);
      left: -65px;
      @media (max-width: 1080px) {
        display: none;
      }
    }
    .footer_phone::before {
      position: absolute;
      content: '';
      width: 50px;
      height: 50px;
      background-image: url(../img/footer/viber.png);
      left: -130px;
      @media (max-width: 1080px) {
        display: none;
      }
    }
    .footer_social {
      display: flex;
      justify-content: space-between;
      width: auto;
      height: 254px;
      align-items: center;
      .nav_facebook_link {
        margin: 0 40px;
        @media (max-width: 1080px) {
          margin: 0 10px;
        }
      }
    }
    .footer_logo {
      text-align: center;
    }
  }
  .footer_copyright {
    width: 100%;
    height: auto;
    border-top: 1px solid #aaaaaa;
    background-color: #1b1b1b;

    .copyright_flex {
      padding-top: 5px;
      display: flex;

      justify-content: space-between;
      @media (max-width: 945px) {
        flex-direction: column;
        align-items: center;
      }
      .copyright_email {
        position: relative;
        @media (max-width: 945px) {
          margin: 20px 0 25px 0;
          text-align: center;
          font-size: 16px;
          line-height: 20px;
        }
        a {
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 21px;

          color: #aaaaaa;
          text-decoration: none;
          @media (max-width: 945px) {
            text-align: center;
            font-size: 16px;
            line-height: 20px;
          }
        }
      }
      .copyright_email::before {
        left: -30px;
        top: 2px;
        position: absolute;
        content: '';
        width: 20px;
        height: 16px;
        background-image: url('../img/footer/mail.png');
      }
    }
    div {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;

      color: #aaaaaa;
      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
      }
    }
  }
}

.footer_flex-mobile {
  margin-top: 24px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 768px) {
    display: none;
  }
  .footer_nav {
    text-align: center;
    h4 {
      font-family: 'Exo 2';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      color: #ffffff;
    }
    ul {
      li {
        a {
          font-family: 'Exo 2';
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 24px;
          text-decoration: none;
          color: #ffffff;
        }
        a:hover {
          color: #ff0000;
        }
      }
    }
  }
  .footer-phone__mobile {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 40px;
    .footer_phone {
      margin-top: 15px;
    }
  }

  .footer_social__mobile {
    h4 {
      font-family: 'Exo 2';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      color: #ffffff;
    }
    .footer_social__mobile-links {
      margin-top: 22px;
      .nav_facebook_link {
        margin: 0 40px;
      }
    }
  }
}
