header {
  background-color: #7f7f7f;
}
@media (max-width: 767px) {
  header {
    background-color: #1b1b1b;
  }
}
header .container__menu {
  position: relative;
}
header .container__menu .mobile__menu {
  position: fixed;
  height: 423px;
  background-color: #000;
  width: calc(100vw - 20px);
  z-index: 21;
  top: -423px;
  transition: top 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
header .container__menu .mobile__menu ul {
  padding-top: 92px;
  padding-bottom: 85px;
  text-align: center;
}
header .container__menu .mobile__menu ul li {
  margin-bottom: 20px;
}
header .container__menu .mobile__menu ul li a {
  text-decoration: none;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  color: #fff;
}
header .container__menu .header__row {
  z-index: 23;
  height: 119px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 400px;
}
@media (max-width: 767px) {
  header .container__menu .header__row {
    height: 65px;
  }
}
header .container__menu .header__row .header__logo-burger {
  flex-grow: 15;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
header .container__menu .header__row .header__logo-burger .header__menu-burger {
  display: none;
}
@media (max-width: 767px) {
  header .container__menu .header__row .header__logo-burger .header__menu-burger {
    display: block;
  }
}
header .container__menu .header__row .header__logo-burger .header__logo {
  width: 100px;
  height: 89px;
  background-image: url(../img/header/logo.png);
}
@media (max-width: 1023px) {
  header .container__menu .header__row .header__logo-burger .header__logo {
    height: 45px;
    width: 80px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
header .container__menu .header__row .header__contacts {
  flex-grow: 4;
  flex-shrink: 2;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 863px) {
  header .container__menu .header__row .header__contacts {
    align-items: center;
    justify-content: flex-end;
  }
}
@media (max-width: 767px) {
  header .container__menu .header__row .header__contacts {
    display: none;
  }
}
header .container__menu .header__row .header__contacts .header__adress {
  background-image: url(../img/header/locat.png);
  background-repeat: no-repeat;
  padding-left: 65px;
  background-position: 2% 60%;
  width: 339px;
  height: 56px;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #ffffff;
}
@media (max-width: 863px) {
  header .container__menu .header__row .header__contacts .header__adress {
    font-size: 1.2rem;
    line-height: 1.4rem;
    width: 295px;
    height: 45px;
    background-size: contain;
    padding-left: 55px;
  }
}
header .container__menu .header__row .header__contacts .header__phone {
  width: 228px;
  height: 61px;
  padding-left: 68px;
  background-image: url(../img/header/phone.png);
  background-repeat: no-repeat;
  background-position: 2% 60%;
}
@media (max-width: 863px) {
  header .container__menu .header__row .header__contacts .header__phone {
    width: 196px;
    height: 45px;
    background-size: contain;
    padding-left: 55px;
  }
}
header .container__menu .header__row .header__contacts .header__phone p {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}
header .container__menu .header__row .header__contacts .header__phone p a {
  text-decoration: none;
}
@media (max-width: 863px) {
  header .container__menu .header__row .header__contacts .header__phone p {
    font-size: 19px;
    line-height: 21px;
  }
}
header .container__menu .header__row .header__contacts .header__phone a {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}
@media (max-width: 863px) {
  header .container__menu .header__row .header__contacts .header__phone a {
    font-size: 19px;
    line-height: 21px;
  }
}

.banner {
  background-color: #7f7f7f;
}
@media (max-width: 768px) {
  .banner .banner__mobile-padding {
    padding-right: 0px;
  }
}
.banner .banner-text {
  background-image: url(../img/header/tv.jpg);
  background-position: 20% 50%;
  background-size: 112%;
  background-repeat: no-repeat;
  padding: 151px 0px 224px 0px;
}
@media (max-width: 1280px) {
  .banner .banner-text {
    padding: 10vw 0px 10vw 0px;
  }
}
@media (max-width: 1024px) {
  .banner .banner-text {
    padding: 10vw 0px 10vw 0px;
    background-size: 130%;
    background-position: calc(-20vw) 50%;
  }
}
@media (max-width: 768px) {
  .banner .banner-text {
    background-size: 140%;
  }
}
.banner .banner-text .banner-text_1 {
  font-family: Roboto;
  font-style: italic;
  font-weight: 900;
  font-size: 72px;
  line-height: 84px;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .banner .banner-text .banner-text_1 {
    font-size: 24px;
    line-height: 28px;
  }
}
.banner .banner-text .banner-text_2 {
  margin-top: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 95px;
  line-height: 112px;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .banner .banner-text .banner-text_2 {
    font-size: 34px;
    line-height: 40px;
  }
}
.banner .banner-text .banner-text_2 span {
  font-style: italic;
  color: #DA1A1A;
}
.banner .banner-text .banner-text_3 {
  margin-top: 60px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .banner .banner-text .banner-text_3 {
    font-size: 18px;
    line-height: 21px;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .banner__form .container__banner__form-flex {
    display: flex;
    flex-direction: column-reverse;
  }
}
.banner__form .banner__form-text {
  padding: 140px 0;
  width: 461px;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  color: #000000;
}
@media (max-width: 1024px) {
  .banner__form .banner__form-text {
    font-size: 23px;
    line-height: 35px;
    width: 46vw;
  }
}
@media (max-width: 767px) {
  .banner__form .banner__form-text {
    padding: 20px 0 40px 0;
    width: 100%;
    font-size: 16px;
    line-height: 21px;
    margin: 0 auto;
  }
}
.banner__form .banner__form-text span {
  font-style: italic;
  font-weight: bold;
}

.banner__form-form {
  position: absolute;
  left: 55vw;
  top: 773px;
  width: 32vw;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
  z-index: 10;
  padding: 29px 30px;
}
@media (max-width: 767px) {
  .banner__form-form {
    position: static;
    left: 0;
    top: 0;
    width: 260px;
    margin-bottom: 40px;
    margin: 40px auto 0px auto;
  }
}
@media (min-width: 1441px) {
  .banner__form-form {
    width: 520px;
  }
}
@media (max-width: 1280px) {
  .banner__form-form {
    top: 684px;
  }
}
@media (max-width: 1024px) {
  .banner__form-form {
    top: 753px;
    padding: 20px 20px;
  }
}
.banner__form-form h3 {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 53px;
  text-align: center;
  color: #000000;
}
@media (max-width: 1024px) {
  .banner__form-form h3 {
    font-size: 28px;
    line-height: 35px;
  }
}
.banner__form-form p {
  font-family: "Exo 2";
  font-style: italic;
  font-weight: 200;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}
@media (max-width: 1024px) {
  .banner__form-form p {
    font-size: 20px;
    line-height: 33px;
  }
}
.banner__form-form .form_area {
  display: flex;
  flex-direction: column;
}
.banner__form-form .form_area .addfile {
  background-repeat: no-repeat;
  background-position: 450px 8px;
  background-image: url(../img/header/file.png);
}
.banner__form-form .form_area input:first-child {
  margin-top: 51px;
}
@media (max-width: 767px) {
  .banner__form-form .form_area input:first-child {
    margin-top: 25px;
  }
}
.banner__form-form .form_area textarea {
  margin-top: 30px;
  border-radius: 30px;
  border: 1px solid #aaaaaa;
  box-sizing: border-box;
  padding-left: 30px;
  padding-top: 30px;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
  line-height: 32px;
  color: #aaaaaa;
  height: 140px;
  resize: none;
}
@media (max-width: 1024px) {
  .banner__form-form .form_area textarea {
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .banner__form-form .form_area textarea {
    height: 80px;
    font-size: 16px;
    padding-top: 6px;
  }
}
.banner__form-form .form_area .inputButton {
  padding-left: 0px;
  padding-right: 0;
  margin-top: 50px;
  background: #da1a1a;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  height: 70px;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 53px;
  text-align: center;
  color: #ffffff;
}
@media (max-width: 1440px) {
  .banner__form-form .form_area .inputButton {
    font-size: 2.5vw;
  }
}
@media (max-width: 767px) {
  .banner__form-form .form_area .inputButton {
    font-size: 18px;
    line-height: 31px;
    height: 40px;
    margin-top: 20px;
  }
}
@media (max-width: 1024px) {
  .banner__form-form .form_area .inputButton {
    margin-top: 30px;
  }
}
.banner__form-form .form_area input {
  margin-top: 30px;
  border: 1px solid #aaaaaa;
  box-sizing: border-box;
  border-radius: 30px;
  height: 60px;
  padding-left: 30px;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
  line-height: 32px;
  color: #aaaaaa;
}
@media (max-width: 767px) {
  .banner__form-form .form_area input {
    height: 30px;
    font-size: 16px;
    line-height: 21px;
    margin-top: 21px;
  }
}

.example-2 .btn-tertiary {
  position: relative;
  padding-left: 30px;
  color: #747474;
  padding: 0;
  line-height: 40px;
  height: 60px;
  margin: auto;
  display: block;
  border: 1px solid #aaaaaa;
  border-radius: 30px;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
  line-height: 53px;
}
.example-2 .btn-tertiary span {
  padding-left: 30px;
}
@media (max-width: 1440px) {
  .example-2 .btn-tertiary {
    font-size: 2.3vw;
  }
}
@media (max-width: 767px) {
  .example-2 .btn-tertiary {
    font-size: 16px;
    height: 30px;
    line-height: 30px;
  }
}

.btn-tertiary::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url(../img/header/file.png);
  right: 30px;
  top: 10px;
}
@media (max-width: 767px) {
  .btn-tertiary::after {
    top: 3px;
    width: 25px;
    height: 25px;
    background-size: cover;
  }
}

.example-2 {
  margin-top: 30px;
}
@media (max-width: 767px) {
  .example-2 {
    margin-top: 21px;
  }
}

.example-2 .btn-tertiary:hover,
.example-2 .btn-tertiary:focus {
  color: #aaaaaa;
  border-color: #aaaaaa;
}

.example-2 .input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.example-2 .input-file + .js-labelFile {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 10px;
  cursor: pointer;
}

.about {
  background: rgba(0, 0, 0, 0.6);
  background-image: url(../img/about/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 767px) {
  .about {
    background: #ffffff;
    background-image: none;
  }
}
@media (max-width: 767px) {
  .about .about__container--wpadding {
    padding: 0 0;
  }
}
@media (max-width: 767px) {
  .about .about__flex-container {
    display: flex;
    flex-direction: column-reverse;
  }
}
.about .about__main-title--mobile {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: bold;
  font-size: 6rem;
  line-height: 107px;
  color: #ffffff;
}
@media (max-width: 767px) {
  .about .about__main-title--mobile {
    text-align: center;
    font-size: 30px;
    display: none;
  }
}
.about .about__text {
  padding: 23px 0;
}
@media (max-width: 767px) {
  .about .about__text {
    padding: 0px 10px;
    width: 100%;
    margin: 0 auto;
  }
}
.about .about__text p {
  padding-top: 50px;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}
.about .about__text p a {
  text-decoration: underline;
  font-weight: bold;
  color: #ffffff;
}
@media (max-width: 767px) {
  .about .about__text p a {
    color: #000000;
  }
}
@media (max-width: 767px) {
  .about .about__text p {
    font-size: 18px;
    color: #000000;
    padding-top: 20px;
    line-height: 24px;
  }
}
@media (max-width: 767px) {
  .about .about__advantages {
    background: rgba(0, 0, 0, 0.6);
    background-image: url(../img/about/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.about .about__advantages .about__advantages-title--mobile {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
}
@media (min-width: 768px) {
  .about .about__advantages .about__advantages-title--mobile {
    display: none;
  }
}
@media (max-width: 768px) {
  .about .about__advantages h3 {
    line-height: 40px;
    margin-top: 14px;
  }
}
.about .about__advantages h4 {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  color: #ffffff;
}
@media (max-width: 767px) {
  .about .about__advantages h4 {
    display: none;
  }
}
.about .about__advantages .about__advantages-blocks {
  padding: 50px 0;
  display: grid;
  grid-template-areas: "a a a a";
  justify-content: center;
  grid-gap: 20px;
}
@media (max-width: 1280px) {
  .about .about__advantages .about__advantages-blocks {
    grid-template-areas: "a a" "a a";
  }
}
@media (max-width: 767px) {
  .about .about__advantages .about__advantages-blocks {
    padding: 45px 0;
  }
}
.about .about__advantages .about__advantages-blocks div {
  position: relative;
  padding-top: 68px;
  text-align: center;
  width: 290px;
  height: 184px;
  background: rgba(0, 0, 0, 0.8);
  border: 0.5px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  word-wrap: break-word;
  color: #ffffff;
}
@media (max-width: 767px) {
  .about .about__advantages .about__advantages-blocks div {
    width: 140px;
    font-size: 14px;
    height: auto;
    font-size: 14px;
    line-height: 19px;
  }
}
.about .about__advantages .about__advantages-blocks div::before {
  position: absolute;
  content: "";
  background-image: url("../img/about/flag.png");
  background-repeat: no-repeat;
  width: 40px;
  height: 48px;
  top: 0px;
  left: 43%;
}
@media (max-width: 767px) {
  .about .about__advantages .about__advantages-blocks div::before {
    left: 36%;
  }
}

.problems {
  margin-top: 100px;
}
@media (max-width: 767px) {
  .problems {
    margin-top: 40px;
  }
}

.problems__order_flex {
  display: flex;
  flex-direction: column;
}

.problems__main-title--mobile {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 96px;
  color: #000000;
}
@media (max-width: 767px) {
  .problems__main-title--mobile {
    font-weight: 900;
    font-size: 30px;
    line-height: 40px;
  }
}

.problems__text {
  order: 1;
  margin-top: 50px;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}
@media (max-width: 767px) {
  .problems__text {
    display: none;
    order: 3;
  }
}

.problem-verticalline {
  order: 2;
  margin-top: 70px;
}
@media (max-width: 767px) {
  .problem-verticalline {
    order: 1;
    margin-top: 20px;
  }
}
.problem-verticalline h3 {
  padding-bottom: 50px;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
  color: #000000;
}
@media (max-width: 767px) {
  .problem-verticalline h3 {
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 20px;
  }
}
.problem-verticalline .problem-line__img .problem-group__line-pcscreen {
  width: 100%;
}
@media (max-width: 767px) {
  .problem-verticalline .problem-line__img .problem-group__line-pcscreen {
    display: none;
  }
}
.problem-verticalline .problem-line__img .problem-vert,
.problem-verticalline .problem-line__img .problem-hor {
  display: none;
}
@media (max-width: 767px) {
  .problem-verticalline .problem-line__img .problem-vert,
.problem-verticalline .problem-line__img .problem-hor {
    display: block;
    width: 100%;
    margin-bottom: 22px;
  }
}

.problem-blinking {
  order: 3;
}
@media (max-width: 767px) {
  .problem-blinking {
    order: 2;
  }
}
.problem-blinking h3 {
  padding-top: 84px;
  padding-bottom: 50px;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
  color: #000000;
}
@media (max-width: 767px) {
  .problem-blinking h3 {
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 20px;
    padding-top: 22px;
  }
}
.problem-blinking .blinking-text {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  margin-bottom: 50px;
}
.problem-blinking .bolder {
  font-weight: bold;
  margin-bottom: 0px;
}
.problem-blinking .problem-group__blink-pcscreen {
  width: 100%;
}
@media (max-width: 767px) {
  .problem-blinking .problem-group__blink-pcscreen {
    display: none;
  }
}
.problem-blinking .problem-blackscreen {
  display: none;
}
@media (max-width: 767px) {
  .problem-blinking .problem-blackscreen {
    display: block;
    width: 100%;
    margin-bottom: 22px;
  }
}
.problem-blinking .problem-blinkscreen_apple {
  display: none;
}
@media (max-width: 767px) {
  .problem-blinking .problem-blinkscreen_apple {
    display: block;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/problems/tvbox.png);
    padding-bottom: 64%;
    position: relative;
  }
  .problem-blinking .problem-blinkscreen_apple div {
    top: 2%;
    left: 1.3%;
    position: absolute;
    width: 97.4%;
    height: 86%;
    overflow: hidden;
  }
  .problem-blinking .problem-blinkscreen_apple div img {
    width: 100%;
    top: -73%;
    position: relative;
  }
}
.problem-blinking .toogle__btn-readmore {
  text-align: center;
  margin-top: 20px;
}
.problem-blinking .toogle__btn-readmore a {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #ff0000;
}
@media (min-width: 767px) {
  .problem-blinking .toogle__btn-readmore {
    display: none;
  }
}

.lcd-structure {
  order: 4;
}
.lcd-structure .toogle__btn-readless {
  text-align: center;
  margin-top: 20px;
}
.lcd-structure .toogle__btn-readless a {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #ff0000;
}
@media (min-width: 767px) {
  .lcd-structure .toogle__btn-readless {
    display: none;
  }
}
@media (max-width: 767px) {
  .lcd-structure {
    display: none;
  }
}
.lcd-structure h3 {
  padding-top: 70px;
  padding-bottom: 50px;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
  color: #000000;
}
@media (max-width: 767px) {
  .lcd-structure h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
    padding-top: 30px;
    padding-bottom: 21px;
  }
}
.lcd-structure p {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}
@media (max-width: 767px) {
  .lcd-structure p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
  }
}
.lcd-structure .lcd-structure__screen,
.lcd-structure .lcd-structure__mobile {
  width: 100%;
}
@media (max-width: 767px) {
  .lcd-structure .lcd-structure__screen {
    display: none;
  }
}
.lcd-structure .lcd-structure__mobile {
  margin-top: 26px;
  display: none;
}
@media (max-width: 767px) {
  .lcd-structure .lcd-structure__mobile {
    display: block;
  }
}

.gallery {
  margin-top: 100px;
  background-image: url(../img/work/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 767px) {
  .gallery {
    margin-top: 39px;
  }
}
.gallery .carousel {
  width: 100%;
  padding-bottom: 12%;
  background: rgba(0, 0, 0, 0.6);
}
.gallery .carousel h3 {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 96px;
  text-align: center;
  color: #ffffff;
}
@media (max-width: 767px) {
  .gallery .carousel h3 {
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
  }
}
.gallery .carousel .carousel_video {
  width: 100%;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  margin-top: 68px;
}
@media (max-width: 768px) {
  .gallery .carousel .carousel_video {
    display: none;
  }
}
.gallery .carousel .carousel_video_mobile {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
@media (min-width: 767px) {
  .gallery .carousel .carousel_video_mobile {
    display: none;
  }
}

.price {
  margin-top: 100px;
  width: 100%;
  height: auto;
}
@media (max-width: 767px) {
  .price {
    margin-top: 40px;
  }
}
.price h3 {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 96px;
  text-align: center;
  color: #000000;
}
@media (max-width: 767px) {
  .price h3 {
    font-style: normal;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
  }
}
.price p {
  margin-top: 76px;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  color: #000000;
  text-align: left;
}
@media (max-width: 767px) {
  .price p {
    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
  }
}
.price .price-flex {
  width: 100%;
  margin-top: 47px;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 767px) {
  .price .price-flex .price-flex-tv__img {
    display: none;
  }
}
.price .price-flex img {
  width: 100%;
}

.footer {
  background: #1b1b1b;
}
.footer .footer_flex {
  padding: 0 60px 0 60px;
  margin: 0 auto;
  height: 276px;
  background: #1b1b1b;
  margin-top: 57px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1280px) {
  .footer .footer_flex {
    padding: 0 20px;
  }
}
@media (max-width: 767px) {
  .footer .footer_flex {
    display: none;
  }
}
.footer .footer_flex .footer_nav {
  flex-shrink: 1;
}
.footer .footer_flex .footer_nav h4 {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}
.footer .footer_flex .footer_nav ul li a {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #ffffff;
}
.footer .footer_flex .footer_nav ul li a:hover {
  color: #ff0000;
}
.footer .footer_flex .footer_phone {
  margin-top: 30px;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  margin-left: 60px;
  color: #ffffff;
  position: relative;
}
@media (max-width: 1080px) {
  .footer .footer_flex .footer_phone {
    margin-left: 0px;
    font-size: 24px;
  }
}
.footer .footer_flex .footer_phone::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  background-image: url(../img/footer/telegram.png);
  left: -65px;
}
@media (max-width: 1080px) {
  .footer .footer_flex .footer_phone::after {
    display: none;
  }
}
.footer .footer_flex .footer_phone::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  background-image: url(../img/footer/viber.png);
  left: -130px;
}
@media (max-width: 1080px) {
  .footer .footer_flex .footer_phone::before {
    display: none;
  }
}
.footer .footer_flex .footer_social {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 254px;
  align-items: center;
}
.footer .footer_flex .footer_social .nav_facebook_link {
  margin: 0 40px;
}
@media (max-width: 1080px) {
  .footer .footer_flex .footer_social .nav_facebook_link {
    margin: 0 10px;
  }
}
.footer .footer_flex .footer_logo {
  text-align: center;
}
.footer .footer_copyright {
  width: 100%;
  height: auto;
  border-top: 1px solid #aaaaaa;
  background-color: #1b1b1b;
}
.footer .footer_copyright .copyright_flex {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 945px) {
  .footer .footer_copyright .copyright_flex {
    flex-direction: column;
    align-items: center;
  }
}
.footer .footer_copyright .copyright_flex .copyright_email {
  position: relative;
}
@media (max-width: 945px) {
  .footer .footer_copyright .copyright_flex .copyright_email {
    margin: 20px 0 25px 0;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
  }
}
.footer .footer_copyright .copyright_flex .copyright_email a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #aaaaaa;
  text-decoration: none;
}
@media (max-width: 945px) {
  .footer .footer_copyright .copyright_flex .copyright_email a {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
  }
}
.footer .footer_copyright .copyright_flex .copyright_email::before {
  left: -30px;
  top: 2px;
  position: absolute;
  content: "";
  width: 20px;
  height: 16px;
  background-image: url("../img/footer/mail.png");
}
.footer .footer_copyright div {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #aaaaaa;
}
@media (max-width: 767px) {
  .footer .footer_copyright div {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
}

.footer_flex-mobile {
  margin-top: 24px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .footer_flex-mobile {
    display: none;
  }
}
.footer_flex-mobile .footer_nav {
  text-align: center;
}
.footer_flex-mobile .footer_nav h4 {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}
.footer_flex-mobile .footer_nav ul li a {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #ffffff;
}
.footer_flex-mobile .footer_nav ul li a:hover {
  color: #ff0000;
}
.footer_flex-mobile .footer-phone__mobile {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 40px;
}
.footer_flex-mobile .footer-phone__mobile .footer_phone {
  margin-top: 15px;
}
.footer_flex-mobile .footer_social__mobile h4 {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
}
.footer_flex-mobile .footer_social__mobile .footer_social__mobile-links {
  margin-top: 22px;
}
.footer_flex-mobile .footer_social__mobile .footer_social__mobile-links .nav_facebook_link {
  margin: 0 40px;
}

.contact {
  width: 100%;
  margin-bottom: 100px;
}
.contact .contact_header {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 96px;
  text-align: center;
  color: #000000;
}
@media (max-width: 767px) {
  .contact .contact_header {
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    margin-top: 40px;
  }
}
.contact .contact_header .contact_contacts {
  padding: 0 60px 0 60px;
  display: flex;
  justify-content: space-around;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-top: 50px;
  margin-bottom: 78px;
}
@media (max-width: 1240px) {
  .contact .contact_header .contact_contacts {
    padding: 0 20px 0 20px;
  }
}
@media (max-width: 1040px) {
  .contact .contact_header .contact_contacts {
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    line-height: 24px;
  }
}
@media (max-width: 767px) {
  .contact .contact_header .contact_contacts {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.contact .contact_header .contact_contacts .contact_contacts-adress {
  position: relative;
}
.contact .contact_header .contact_contacts .contact_contacts-adress::before {
  content: "";
  position: absolute;
  background-image: url(../img/header/locat.png);
  width: 50px;
  height: 52px;
  background-repeat: no-repeat;
  left: -47px;
  top: -25px;
}
@media (max-width: 1040px) {
  .contact .contact_header .contact_contacts .contact_contacts-adress::before {
    display: none;
  }
}
.contact .contact_header .contact_contacts .contact_contacts-time {
  position: relative;
}
@media (max-width: 1040px) {
  .contact .contact_header .contact_contacts .contact_contacts-time {
    margin-top: 10px;
  }
}
.contact .contact_header .contact_contacts .contact_contacts-time::before {
  content: "";
  position: absolute;
  background-image: url(../img/contacts/watch.png);
  width: 52px;
  height: 52px;
  background-repeat: no-repeat;
  left: -66px;
  top: -20px;
}
@media (max-width: 1040px) {
  .contact .contact_header .contact_contacts .contact_contacts-time::before {
    display: none;
  }
}

.contacts_form_mobile {
  width: 300px;
  height: 448px;
  margin: 0px auto;
  background: #ffffff;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  z-index: 2;
  margin-top: 40px;
}
@media (min-width: 941px) {
  .contacts_form_mobile {
    display: none;
  }
}
.contacts_form_mobile form {
  padding: 20px;
}
.contacts_form_mobile form h3 {
  font-family: "Exo 2";
  font-style: italic;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  text-align: center;
}
.contacts_form_mobile form p {
  font-family: "Exo 2";
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}
.contacts_form_mobile form .form_area {
  display: flex;
  flex-direction: column;
}
.contacts_form_mobile form .form_area input:first-child {
  margin-top: 20px;
}
.contacts_form_mobile form .form_area textarea {
  margin-top: 16px;
  border-radius: 30px;
  border: 1px solid #aaaaaa;
  box-sizing: border-box;
  padding-left: 24px;
  padding-top: 24px;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #aaaaaa;
  height: 80px;
  resize: none;
}
.contacts_form_mobile form .form_area .input_button-contacts_mobile {
  margin-top: 20px;
  background: #da1a1a;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  height: 40px;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
.contacts_form_mobile form .form_area input {
  margin-top: 15px;
  border: 1px solid #aaaaaa;
  box-sizing: border-box;
  border-radius: 30px;
  height: 30px;
  padding-left: 24px;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #aaaaaa;
}

.contact_map-form {
  position: relative;
  height: 796px;
}
.contact_map-form #map {
  width: 100%;
  height: 796px;
}
.contact_map-form .contacts_form {
  position: absolute;
  top: 25%;
  left: 62vw;
  width: 350px;
  height: 495px;
  background: #ffffff;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  z-index: 2;
  padding: 30px;
}
@media (max-width: 1240px) {
  .contact_map-form .contacts_form {
    left: 52vw;
  }
}
@media (max-width: 940px) {
  .contact_map-form .contacts_form {
    display: none;
  }
}
.contact_map-form .contacts_form h3 {
  font-family: "Exo 2";
  font-style: italic;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  color: #000000;
}
.contact_map-form .contacts_form p {
  font-family: "Exo 2";
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}
.contact_map-form .contacts_form .form_area {
  display: flex;
  flex-direction: column;
}
.contact_map-form .contacts_form .form_area input:first-child {
  margin-top: 40px;
}
.contact_map-form .contacts_form .form_area textarea {
  margin-top: 15px;
  border-radius: 30px;
  border: 1px solid #aaaaaa;
  box-sizing: border-box;
  padding-left: 24px;
  padding-top: 24px;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #aaaaaa;
  height: 140px;
  resize: none;
}
.contact_map-form .contacts_form .form_area .input_button-contacts_screen {
  margin-top: 20px;
  background: #da1a1a;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  height: 40px;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
.contact_map-form .contacts_form .form_area input {
  margin-top: 15px;
  border: 1px solid #aaaaaa;
  box-sizing: border-box;
  border-radius: 30px;
  height: 40px;
  padding-left: 24px;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #aaaaaa;
}

.example-3 .btn-tertiary_contacts {
  position: relative;
  padding-left: 30px;
  color: #747474;
  padding: 0;
  line-height: 40px;
  height: 40px;
  margin: auto;
  display: block;
  border: 1px solid #aaaaaa;
  border-radius: 30px;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}
.example-3 .btn-tertiary_contacts span {
  padding-left: 30px;
}

.example-3 .btn-tertiary_contacts::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url(../img/header/file.png);
  background-size: cover;
  right: 30px;
  top: 9px;
}

.example-3 {
  margin-top: 15px;
}
.example-3 .input-file_about_screen {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.example-3 .input-file_about_mobile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.modal__overlay,
.error_form {
  position: fixed;
  z-index: 2000;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal__overlay .message,
.error_form .message {
  width: 655px;
  height: auto;
  background-color: #ffffff;
  color: white;
  margin: 10% auto;
  border-radius: 7px;
  padding: 20px;
}
@media (max-width: 767px) {
  .modal__overlay .message,
.error_form .message {
    width: 79vw;
  }
}
.modal__overlay .message .modal_close,
.error_form .message .modal_close {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.modal__overlay .message .message_body,
.error_form .message .message_body {
  display: flex;
  flex-direction: column;
}
.modal__overlay .message .success_pict,
.error_form .message .success_pict {
  width: auto;
  margin: 0 auto;
  margin-bottom: 31px;
}
.modal__overlay .message .message_title,
.error_form .message .message_title {
  margin-bottom: 40px;
}
.modal__overlay .message h3,
.error_form .message h3 {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  color: #000000;
}
.modal__overlay .message .message_text,
.error_form .message .message_text {
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .modal__overlay .message .message_text,
.error_form .message .message_text {
    margin-bottom: 0px;
  }
}
.modal__overlay .message p,
.error_form .message p {
  font-family: "Exo 2";
  font-style: italic;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #000000;
}

.error_form {
  position: fixed;
  z-index: 2000;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.error_form .message {
  width: 655px;
  height: auto;
  background-color: #ffffff;
  color: white;
  margin: 10% auto;
  border-radius: 7px;
  padding: 20px;
}
@media (max-width: 767px) {
  .error_form .message {
    width: 79vw;
  }
}
.error_form .message .error_form_close {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

body,
html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1240px;
  height: auto;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0px 100px;
}
@media (max-width: 1440px) {
  .container {
    padding: 0px 40px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0px 10px;
  }
}

.container__footer {
  max-width: 100%;
  padding: 0 20px;
}

.wrapper {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.border-red {
  border: 1px solid red;
}

.hidden {
  visibility: hidden;
}

/*# sourceMappingURL=style.css.map */
